@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #121212;
  --primary: #fefefe;
  --secondary: #f6e9b2;
  --tertiary: #e6e8eb;
  --quaternary: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070606;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
